body {
    background-color: rgb (250, 250, 250);
}

.app {
margin-top: 18px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.image {
max-width: 400px;
width: 70%;
margin-top: 50px;
}

@media (max-width: 770px) {
    .app {
        margin-top: 5px;
    }
}

div{
    white-space: pre-wrap;
}

p{
    white-space: pre-wrap;
}